.articles-content {
    padding: 20px;
    .articles-item {
        padding: 10px;
        height: 200px;
        width: 100%;
        background: #fff;
        margin-bottom: 20px;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0 5px 15px -5px lightskyblue;
        }
    }
    .item-title {
        height: 35px;
        line-height: 35px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #3d92c9;
    }
    .item-detail {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: rgba(22, 22, 22, .4);
    }
    .item-content {
        width: 100%;
        padding: 5px 0;
        height: 75px;
        line-height: 25px;
        color: rgba(0, 0, 0, .5);
        font-size: 14px;
        overflow: hidden;
    }
}

.plu-Pagination {
    float: right;
}