.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 30px;
    .form-label {
        flex: 1;
        height: 30px;
        line-height: 30px;
        span {
            color: #666;
            font-size: 14px;
        }
    }
    .form-input {
        flex: 1;
    }
}

.article-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3d92c9;
}

.comment {
    margin-top: 30px;

    p {
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        color: #3d92c9;
    }
    .comment-textarea {
        margin: 10px 0;
    }
}

.show-comments {
    padding: 10px;
    margin-top: 10px;
    .comments-item {
        display: flex;
        flex: 0 0 100%;
        min-height: 100px;
        line-height: 20px;
        color: rgba(44, 44, 44, .7);
        overflow: auto;
        margin-bottom: 10px;
    }

    .avatar {
        flex: 0 0 200px;
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .content {
        flex: 1;
    }
    .del-btn {
        flex: 0 0 30px;
        align-self: flex-end;
    }
}


