.login {
    .login-form {
        width: 300px;
        position: fixed;
        top: 20%;
        left: 50%;
        margin-left: -150px;
    }
    .login-form-forgot {
        float: right;
    }
    .login-form-button {
        width: 100%;
    }
}
